@{
  Layout="Shared/_Layout.cshtml";
}

<h1>All JOBIZZLE OPENINGIZLES!</h1>
<ul>
  @foreach(var job in Model){
    <h4>@job.GetTitle(), @job.GetContact().GetName()</h4>
    <ul>
      <li>@job.GetDescription()</li>
      <li>@job.GetContact().GetEmail()</li>
      <li>@job.GetContact().GetPhoneNumber()</li>
      <li>@job.GetContact().GetAddress()</li>
    </ul>
  }
</ul>
<p><a href="/">Add more openings in your rich company?</a></p>
<form action="/no_jobs" method="post">
  <button type="submit" name="button">Change your mind and not hire anyone!</button>
</form>
